<!DOCTYPE html>
<html>
  <head>
    <title>RESULTS!</title>
    
  </head>
  <body>
    <h1>GET YOUR FORTUNE </h1>
    <h3>Hi, <%=@the_user%>, your fortune is <%=@the_fortune%></h3>
    <img src= "https://media.giphy.com/media/yr7n0u3qzO9nG/giphy.gif">
  </body>
</html>